streamlit==1.24.0  # Ensure to use a version compatible with your code
opencv-python==4.7.0.72  # OpenCV for image processing
numpy==1.23.5  # Numerical operations
pillow==9.5.0  # For handling images in PIL format
tensorflow==2.13.0  # TensorFlow for loading and running the model
